@font-face {
  font-family: 'THSarabunNew';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/THSarabunNew.ttf');
}
@font-face {
  font-family: 'THSarabunNewBold';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/THSarabunNew Bold.ttf');
}
.body{
  font-family: 'THSarabunNew'!important;
  font-size: 24px;
}
.header{
  font-family: 'THSarabunNewBold'!important;
  font-size: 28px;
}
.App {
  text-align: center;
  min-height: 100vh !important;
  min-width: 100vw !important;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
.no-bg{
  background-color: white;
  border: none;
}
.primary {
  color: #336699;
}
.warning {
  color: #ffba07;
}
.grey {
  color: #C4C4C4;
}
.successStatus {
  color:  #2fbb18 !important;
}
.danger {
  color:  #EB5757 !important;
}
.bg {
  background-color: #336699 !important;
}
.bg-light {
  background-color: #ededed !important;
}
.text {
  color: #336699 !important;
}
.btn-primary {
  color: #ffffff!important;
  background-color: #336699 !important;
  border-color: #336699 !important;
}
.btn-danger {
  color: #fff;
  background-color: #eb5757 !important;
  border-color: #eb5757 !important;
}
.success {
  color: #fff !important;
  background-color: #2fbb18 !important;
  border-color: #2fbb18 !important;
}
.btn-add {
  background-color: #ededed !important;
  border-color: #ededed !important;
}
.MuiButton-containedPrimary {
  color: #fff;
  background-color: #336699 !important;
}
.MuiButton-containedSecondary {
  color: #fff;
  background-color: #eb5757 !important;
}
.MuiButton-textPrimary {
  color: #fff !important;
  background-color: #336699 !important;
}
.MuiCardHeader-root {
  color: #fff;
  display: flex;
  padding: 16px;
  align-items: center;
  background-color: #336699 !important;
}
.card-header {
  color: #fff;
  display: flex;
  padding: 16px;
  align-items: center;
  background-color: #336699 !important;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #fff !important;
  border-radius: 0.25rem;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* .li-Content{
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.linkRubric{
  cursor: pointer;
  color:#3f51b5
}
.linkRubric:hover{
  text-decoration-line: underline;
}
.filearea {
  background-color: #ffffff !important;
  border-radius: 5px !important;
  width: 50%;
}
.fileareaAA {
  background-color: #EDEDED !important;
  border-radius: 5px !important;
  /* width: 50%; */
}
.uploadarea {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.uploadarea input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  display: none;
}

.uploadarea input[type="file"]:hover {
cursor: pointer !important;
pointer-events: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.labelupload {
  background-color: #EDEDED !important;
  display: inline-block !important;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  margin: 0px;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.thead-primary {
  background-color: #336699 !important;
  border-radius: 5px !important;
  color: #ffffff;
}
.uk-background-muted {
  background-color: #ededed !important;
}
.table-container {
  margin: 10px;
  padding: 0;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
tr.expandable > td {
  box-shadow: inset 0 3px 6px -3px rgba(0, 0, 0, 0.2);
  padding: 0;
}

tr.expandable > td > .inner {
  margin: 15px;
  overflow: hidden;
}
.scrollable-menu {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
}