@font-face {
  font-family: 'THSarabunNew';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/THSarabunNew.ttf');
}
@font-face {
  font-family: 'THSarabunNewBold';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/THSarabunNew Bold.ttf');
}
body {
  margin: 0;
  font-family: 'THSarabunNew'!important;
  font-size: 24px!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
